<div
  class="flex min-h-screen flex-col items-center bg-[#0d1117] font-['Cutive_Mono',monospace] text-white"
>
  <!-- Navbar -->
  <nav class="flex h-[100px] w-full items-center justify-between bg-[#24292e] px-10 shadow-sm">
    <div class="flex h-[57px] w-[60px] items-center justify-center">
      <!-- Project Logo -->
      <img ngSrc="pull-focus-logo.webp" width="60" height="57" alt="Pull Focus Logo" priority />
    </div>

    <div
      class="flex items-center gap-4 bg-[#0d1117] p-1.5 rounded-lg border-[0.5px] border-[#e1e4e8]/20"
    >
      <a
        routerLink="/pomodoro"
        routerLinkActive="bg-[#24292e] opacity-100"
        [routerLinkActiveOptions]="{ exact: true }"
        class="rounded-md px-6 py-1.5 text-[15px] font-medium opacity-60 hover:opacity-100 transition-all shadow-sm"
      >
        Timer
      </a>
      <a
        routerLink="/sessions"
        routerLinkActive="bg-[#24292e] opacity-100"
        class="rounded-md px-6 py-1.5 text-[15px] font-medium opacity-60 hover:opacity-100 transition-all shadow-sm"
      >
        Sessions
      </a>
      <a
        routerLink="/pomodoro/settings"
        routerLinkActive="bg-[#24292e] opacity-100"
        class="rounded-md px-6 py-1.5 text-[15px] font-medium opacity-60 hover:opacity-100 transition-all shadow-sm"
      >
        Settings
      </a>
    </div>

    <div class="w-[60px]"></div>
    <!-- Spacer to center the nav set -->
  </nav>

  <!-- Content -->
  <ng-content></ng-content>
</div>
